button[title="View fullscreen"] {
    display: none;
  }

a[class="st-emotion-cache-yinll1 e1nzilvr3"] {
    display: none;
  }

/* Container styling */
div [class ="st-emotion-cache-1h9usn1 eqpbllx3"] {
    background-color: #FAFAFA;
    padding: 1.5rem;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-bottom: 1rem;
}

/* sidebar styling */
.st-emotion-cache-1gv3huu {
    width: auto;
    color: #8E5E4D;
    background-color: #8E5E4D;
    padding: 1.5rem;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-bottom: 1rem;
}

/* Button styling */
.stButton > button {
    background-color: #FAFAFA;
    color: #A5D6A7;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-family: 'Raleway', sans-serif;
    transition: background-color 0.2s;
}

@media (min-width: 768px) {
    [data-testid="stSidebar"] {
        min-width: 250px !important;
        max-width: 250px !important;
    }

    [data-testid="stSidebar"] > div:first-child {
        width: 250px;
    }

    button[kind="header"] {
        margin-left: -50px;
    }
}

/* Mobile sidebar adjustments */
@media (max-width: 767px) {
    [data-testid="stSidebar"] {
        min-width: auto !important;
        max-width: 100vw !important;  /* Allow full width on mobile when opened */
    }

    [data-testid="stSidebar"] > div:first-child {
        width: auto;
    }
}







/* All this stuff is unchecked*/

  /* Base styles to match Raleway font and colors */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');


h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #333;
}